div{
    position: absolute;
    top: 141.2em;
    margin-left: 62.6em;
    color: #007791;
    font-weight: 400;
}
a{
    margin: 10px;
}
hr{
    color:#E2377A;
    border: 5px solid #E2377A;
    margin-left: -39px;
}