<header>
<app-logo></app-logo>
<app-categories></app-categories>
<app-search></app-search>
<app-cart></app-cart>
<app-register></app-register>
</header>
<main>
 <app-banner></app-banner>
</main>
<body class="mainbody">
<app-course1></app-course1>
<app-course2></app-course2>
<app-course3></app-course3>
</body>
<menu>
  <app-subbanner></app-subbanner>
  <app-submenu></app-submenu>
  <app-subcard></app-subcard>
  <app-studentcards></app-studentcards>
  <app-footerbanner></app-footerbanner>
  <app-footer></app-footer>
  <app-footercontent></app-footercontent>
  <app-footercontents></app-footercontents>
</menu>
<router-outlet></router-outlet>
